.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/libros.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }

  .img-thumbnail {
      width: 200px;
      height: 200px;
  }

  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #212529;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }

  .bg-login-image {
    background: url("../img/IMG_LOGIN.jpeg");
    background-position: center;
    background-size: cover;
    padding: 0rem;
    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
    margin-left: -0.3rem;
  }
 
  #sidebar-wrapper {
    min-height: 100vh;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }