:root {
    --fc-button-bg-color: var(--bs-primary) !important;
    --fc-button-border-color: var(--bs-primary) !important;
}

.fc .fc-toolbar-title {
    font-weight: lighter;
    text-transform: capitalize;
}

.fc .fc-scrollgrid {
    border-radius: 1rem;
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}

.fc .fc-daygrid-day-frame:hover {
    background-color: var(--bs-light);
}

.fc .fc-h-event {
    background-color: var(--bs-primary);
}
