.color-primario {
  background-color: #2370c2;
}

.color-acierto {
  background-color: #1b8a56;
}

.color-peligro {
  background-color: #f14f4f;
}

.gray {
  color: #ccd7ff;
}

.form-control {
  width: 100%;
  background: #fff;
  border: 3px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.form-control:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/************ Validaciones **************/
.formulario__grupo-incorrecto {
    color: #f14f4f;
	border: 3px solid #f14f4f;
}

.formulario__grupo-correcto {
	opacity: 1;
}

.formulario__input-error {
    color: #f14f4f;
	font-size: 12px;
	margin-bottom: 0;
    display: none;
}

body {
  overflow: visible;
  font-weight: 300;
}

.sidebar-container {
  min-height: 100vh;
}

.logo {
  margin-bottom: 35px;
}

.navbar-nav {
  width: 18%;
}

.sidebar {
  margin: 16px;
}

.sidebar-divider {
  border-top: 1px solid #eaecf4;
}

a:hover {
  text-decoration: none;
}

.cuerpo {
  float: right;
}

.bb {
  float: left;
}

.page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.background-login {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.png");
  background-size: cover;
  height: 100vh;
}

.login-box {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}
